.header {
    display: flex;
    justify-content: space-between;
    color: #252635;
    font-weight: bold;
    font-size:15px;
}

.logo {
    width: 125px;
}

body {
    background-color: #278F80;
    text-align: center;
}


#caption {
    font-size: 20px;
}

a {
    color: #0f65ef;
    font-weight: bold;
}
h1{
    font-family: 'Lato', sans-serif;
}
#caption{
    font-family: 'Lato', sans-serif;
}
h2{
    font-family: 'Lato', sans-serif;
}

.result {
   text-align:center;
}

button {
    margin-top: 10px;
    color: black;
    background-color: #EAE9BA;
    font-size: 30px;
    border:3px groove black ;
    font-family: 'Lato', sans-serif;
}

body{

    margin-left:20px;
}

input{
    width:300px;
    height:250;
    padding:15px;
}
#finalAnswer{
    margin-top: 15px;
    font-size:30px;
}